@import 'base';
@import 'custom-style';
@import "main";

@import 'components/_1_feature-v12';
@import 'components/_1_anim-menu-btn';

@import 'components/_1_parallax-image';
@import 'components/_1_reveal-effects';
@import 'components/_1_404';
@import 'components/_2_flexi-header';
@import 'components/_1_main-footer';
@import 'components/_1_banner';
@import 'components/_1_hero';
