.choose-block {
    font-family: 'Proxima Nova', sans-serif;
}

.choose-header {
    font-size: 28px;
    color: #342538;
    font-weight: 700;
    line-height: 38px;
}

.choose-subheader {
    font-size: 15px;
    line-height: 21px;
    margin: 10px 0 15px 0;
}

.choose-btn {
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: var(--color-white);
    font-weight: bold;
    background: var(--color-primary);
    border-radius: 24px;
    padding: 11px;
    display: inline-block;
    transition: .4s;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.choose-item-header {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 15px;
    color: #342538;
    font-weight: bold;
    line-height: 21px;
}

.choose-item-img {
    width: 150px;
    height: 150px;
    border-radius: var(--radius-sm);
    margin-bottom: var(--space-xs);
}