.faq-steps {
    font-size: 15px;
    font-weight: bold;
    background: #F8F8F8;
    border-radius: 18px;
    padding: 24px;
}

.faq-step {
    line-height: 21px;
    background: url(/img/arrow-down.svg) no-repeat 30px 100%;
    padding: 0 0 24px 30px;
    margin: 0 0 10px 0;
}

.faq-btn {
    @extend .choose-btn
}

.faq .container .left {
    width: 25%;
}

.faq .container .right {
    width: 75%;
    padding: 0 0 0 40px;
}

.faq-header {
    color: #342538;
    font-weight: bold;
    line-height: var(--space-md);
}

.faq-text {
    color: #8E8E9D;
    line-height: 21px;
    margin: 0 0 15px 0;
}