// --------------------------------

// (START) Global Editor code https://codyhouse.co/ds/globals/colors

// --------------------------------

:root, [data-theme="default"] {
  // main
  @include defineColorHSL(--color-primary-darker, 240, 100%, 55%);
  @include defineColorHSL(--color-primary-dark, 240, 100%, 65%);
  @include defineColorHSL(--color-primary, 240, 100%, 75%);
  @include defineColorHSL(--color-primary-light, 240, 100%, 85%);
  @include defineColorHSL(--color-primary-lighter, 240, 100%, 95%);

  @include defineColorHSL(--color-accent-darker, 50, 99%, 43%);
  @include defineColorHSL(--color-accent-dark, 50, 99%, 53%);
  @include defineColorHSL(--color-accent, 50, 99%, 63%);
  @include defineColorHSL(--color-accent-light, 50, 99%, 73%);
  @include defineColorHSL(--color-accent-lighter, 50, 99%, 83%);

  @include defineColorHSL(--color-secondary-darker, 257, 23%, 74%);
  @include defineColorHSL(--color-secondary-dark, 257, 23%, 84%);
  @include defineColorHSL(--color-secondary, 257, 23%, 94%);
  @include defineColorHSL(--color-secondary-light, 257, 23%, 97%);
  @include defineColorHSL(--color-secondary-lighter, 257, 23%, 100%);

  @include defineColorHSL(--color-black, 240, 8%, 12%);
  @include defineColorHSL(--color-white, 0, 0%, 100%);

  // feedback
  @include defineColorHSL(--color-warning-darker, 46, 100%, 47%);
  @include defineColorHSL(--color-warning-dark, 46, 100%, 50%);
  @include defineColorHSL(--color-warning, 46, 100%, 61%);
  @include defineColorHSL(--color-warning-light, 46, 100%, 71%);
  @include defineColorHSL(--color-warning-lighter, 46, 100%, 80%);

  @include defineColorHSL(--color-success-darker, 94, 48%, 42%);
  @include defineColorHSL(--color-success-dark, 94, 48%, 48%);
  @include defineColorHSL(--color-success, 94, 48%, 56%);
  @include defineColorHSL(--color-success-light, 94, 48%, 65%);
  @include defineColorHSL(--color-success-lighter, 94, 48%, 74%);

  @include defineColorHSL(--color-error-darker, 349, 75%, 36%);
  @include defineColorHSL(--color-error-dark, 349, 75%, 44%);
  @include defineColorHSL(--color-error, 349, 75%, 51%);
  @include defineColorHSL(--color-error-light, 349, 75%, 59%);
  @include defineColorHSL(--color-error-lighter, 349, 75%, 67%);

  // color contrasts
  @include defineColorHSL(--color-bg, 0, 0%, 100%);
  @include defineColorHSL(--color-contrast-lower, 0, 0%, 95%);
  @include defineColorHSL(--color-contrast-low, 240, 1%, 83%);
  @include defineColorHSL(--color-contrast-medium, 240, 1%, 48%);
  @include defineColorHSL(--color-contrast-high, 240, 4%, 20%);
  @include defineColorHSL(--color-contrast-higher, 240, 8%, 12%);
}

@supports(--css: variables) {
  [data-theme="dark"] {
    // main
    @include defineColorHSL(--color-primary-darker, 240, 100%, 55%);
    @include defineColorHSL(--color-primary-dark, 240, 100%, 65%);
    @include defineColorHSL(--color-primary, 240, 100%, 75%);
    @include defineColorHSL(--color-primary-light, 240, 100%, 85%);
    @include defineColorHSL(--color-primary-lighter, 240, 100%, 95%);

    @include defineColorHSL(--color-accent-darker, 50, 99%, 43%);
    @include defineColorHSL(--color-accent-dark, 50, 99%, 53%);
    @include defineColorHSL(--color-accent, 50, 99%, 63%);
    @include defineColorHSL(--color-accent-light, 50, 99%, 73%);
    @include defineColorHSL(--color-accent-lighter, 50, 99%, 83%);

    @include defineColorHSL(--color-secondary-darker, 257, 23%, 74%);
    @include defineColorHSL(--color-secondary-dark, 257, 23%, 84%);
    @include defineColorHSL(--color-secondary, 257, 23%, 94%);
    @include defineColorHSL(--color-secondary-light, 257, 23%, 97%);
    @include defineColorHSL(--color-secondary-lighter, 257, 23%, 100%);

    @include defineColorHSL(--color-black, 240, 8%, 12%);
    @include defineColorHSL(--color-white, 0, 0%, 100%);

    // feedback
    @include defineColorHSL(--color-warning-darker, 46, 100%, 47%);
    @include defineColorHSL(--color-warning-dark, 46, 100%, 50%);
    @include defineColorHSL(--color-warning, 46, 100%, 61%);
    @include defineColorHSL(--color-warning-light, 46, 100%, 71%);
    @include defineColorHSL(--color-warning-lighter, 46, 100%, 80%);

    @include defineColorHSL(--color-success-darker, 94, 48%, 42%);
    @include defineColorHSL(--color-success-dark, 94, 48%, 48%);
    @include defineColorHSL(--color-success, 94, 48%, 56%);
    @include defineColorHSL(--color-success-light, 94, 48%, 65%);
    @include defineColorHSL(--color-success-lighter, 94, 48%, 74%);

    @include defineColorHSL(--color-error-darker, 349, 75%, 36%);
    @include defineColorHSL(--color-error-dark, 349, 75%, 44%);
    @include defineColorHSL(--color-error, 349, 75%, 51%);
    @include defineColorHSL(--color-error-light, 349, 75%, 59%);
    @include defineColorHSL(--color-error-lighter, 349, 75%, 67%);

    // color contrasts
    @include defineColorHSL(--color-bg, 240, 8%, 12%);
    @include defineColorHSL(--color-contrast-lower, 240, 6%, 15%);
    @include defineColorHSL(--color-contrast-low, 252, 4%, 25%);
    @include defineColorHSL(--color-contrast-medium, 240, 1%, 57%);
    @include defineColorHSL(--color-contrast-high, 0, 0%, 89%);
    @include defineColorHSL(--color-contrast-higher, 0, 0%, 100%);
  }
}

// background-color
.bg-secondary-darker { background-color: alpha(var(--color-secondary-darker), var(--bg-o, 1)); }
.bg-secondary-dark { background-color: alpha(var(--color-secondary-dark), var(--bg-o, 1)); }
.bg-secondary { background-color: alpha(var(--color-secondary), var(--bg-o, 1)); }
.bg-secondary-light { background-color: alpha(var(--color-secondary-light), var(--bg-o, 1)); }
.bg-secondary-lighter { background-color: alpha(var(--color-secondary-lighter), var(--bg-o, 1)); }

// border-color
.border-secondary-darker { border-color: alpha(var(--color-secondary-darker), var(--bg-o, 1)); }
.border-secondary-dark { border-color: alpha(var(--color-secondary-dark), var(--bg-o, 1)); }
.border-secondary { border-color: alpha(var(--color-secondary), var(--bg-o, 1)); }
.border-secondary-light { border-color: alpha(var(--color-secondary-light), var(--bg-o, 1)); }
.border-secondary-lighter { border-color: alpha(var(--color-secondary-lighter), var(--bg-o, 1)); }
