{% extends 'layout/admin.html' %}
{% from 'layout/components.html' import icons, modal %}

{% block content %}
  <div class="container max-width-adaptive">
    <form action="" enctype="multipart/form-data" method="post">
      <fieldset class="margin-bottom-md">
        <legend class="form-legend">Новый администратор</legend>

        <div class="grid gap-sm">
          <div class="col-6@md">
            <label class="form-label margin-bottom-xxs" for="name">Имя</label>
            <input class="form-control width-100%" id="name" name="name" placeholder="Иванов Иван Иванович" type="text"
                   autocomplete="name">
          </div>

          <div class="col-6@md">
            <label class="form-label margin-bottom-xxs" for="login">Логин</label>
            <input class="form-control width-100%" id="login" name="login" pattern="[A-Za-z\-_]{2,}"
                   placeholder="Ivan_Ivanov" required type="text" autocomplete="nickname">
          </div>

          <div>
            <label class="form-label margin-bottom-xxs" for="password">Пароль</label>
            <input class="form-control width-100%" id="password" autocomplete="new-password" name="password" required
                   type="password">
          </div>
        </div>
      </fieldset>
      <div>
        <button class="btn btn--primary">Создать администратора</button>
      </div>
    </form>


    <div class="tbl margin-y-sm">
      <h3>Список администраторов</h3>
      <table aria-label="Администраторы" class="tbl__table border-bottom border-2">
        <thead class="tbl__header border-bottom border-2">
        <tr class="tbl__row">
          <th class="tbl__cell text-left" scope="col">
            <span class="text-xs text-uppercase letter-spacing-lg font-semibold">Имя</span>
          </th>

          <th class="tbl__cell text-left" scope="col">
            <span class="text-xs text-uppercase letter-spacing-lg font-semibold">Логин</span>
          </th>
        </tr>
        </thead>

        <tbody class="tbl__body">
        {% for d in admins %}
          <tr class="tbl__row">
            <td class="tbl__cell" role="cell">
              {{ d.name }}
            </td>

            <td class="tbl__cell" role="cell">
              {{ d.login }}
            </td>
          </tr>

        {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
{% endblock %}