<script src="/js/editor.js"></script>

<form action="" enctype="multipart/form-data" method="post">
  <div class="form-group">
    <label for="title" class="p1">Заголовок новости</label>
    <input type="text" id="title" class="w-100" name="title" value="{{data.get('title')}}" placeholder="Заголовок" required>
  </div>

  <div class="form-group">
    <label for="date" class="p1">Дата публикации</label>
    <input id="date" type="date" class="form-control" name="date" value="{{data.get('date')}}" required>
  </div>

  <div class="form-group">
    <label for="content" class="p1">Текст новости</label>
    <textarea id="content" name="content" required placeholder="Введите текст новости">{{data.get("content", '')}}</textarea>
  </div>

  <script>
      Editor
          .create(document.querySelector('#content'), {})
          .then(editor => {
              window.editor = editor;
          })
          .catch(error => {
              console.error('Oops, something gone wrong!');
              console.error(error);
          });
  </script>

  <div class="form-group">
   <label for="image" class="p1 mt-3">Превью новости</label>
    <div class="custom-file">
      <input type="file" name="image" class="custom-file-input" id="image" accept="image/jpeg,image/png,image/gif">
      <label class="custom-file-label" for="image">Выберите файл</label>
    </div>
  </div>
  <div class="form-group">
    <label for="image-preview">Текущее превью:</label><br>
    <img id="image-preview" style="width: 100%" src="{{data.get('image', '')}}" alt="">
  </div>

  <div class="form-group">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" name="published" class="custom-control-input" id="published" {{'checked' if not data.get('draft', '') else ''}}>
      <label class="custom-control-label" for="published">Опубликовать</label>
    </div>
  </div>

  <div class="form-group">
    <!--<button class="btn btn-primary">Опубликовать</button>-->
    <button class="btn btn-primary" type="submit">Сохранить</button>
    <button class="btn btn-outline-primary" type="reset">Отменить изменения</button>
  </div>
</form>