<div class="text-component text-center margin-bottom-sm">
  <h1>Частые вопросы</h1>
</div>

% print(data)
% if get('data'):
<button aria-controls="modal-new" class="btn btn--primary text-right">Создать ЧаВо</button>

<div class="tbl margin-y-sm">
  <table aria-label="Категории блога" class="tbl__table border-bottom border-2">
    <thead class="tbl__header border-bottom border-2">
    <tr class="tbl__row">
      <th class="tbl__cell text-left" scope="col">
        <span class="text-xs text-uppercase letter-spacing-lg font-semibold">Вопрос</span>
      </th>

      <th class="tbl__cell text-left" scope="col">
        <span class="text-xs text-uppercase letter-spacing-lg font-semibold">Ответ</span>
      </th>

      <th class="tbl__cell text-left" scope="col">
        <span class="text-xs text-uppercase letter-spacing-lg font-semibold">Действия</span>
      </th>

    </tr>
    </thead>

    <tbody class="tbl__body">
    % for d in data:
    <tr class="tbl__row">
      <td class="tbl__cell" role="cell">{{d.get('question')}}?</td>

      <td class="tbl__cell" role="cell">{{d.get('answer')}}</td>

      <td class="tbl__cell" role="cell">
        <button aria-controls="menu-faq-{{d['id']}}" class="menu-bar__item reset">
          {{!solid('ellipsis-h', classes='menu-bar__icon')}}
        </button>

        <menu class="menu js-menu" id="menu-faq-{{d['id']}}">
          <li aria-controls="modal-edit-{{d['id']}}" role="menuitem">
            <span class="menu__content js-menu__content">
              {{!solid('pen', classes='menu__icon')}}
              <span>Редактировать</span>
            </span>
          </li>

          <li aria-controls="modal-del-{{d['id']}}" role="menuitem">
            <span class="menu__content js-menu__content">
              {{!solid('trash-alt', classes='menu__icon')}}
              <span>Удалить</span>
            </span>
          </li>
        </menu>

      </td>

      <div class="modal modal--animate-scale flex flex-center bg-contrast-higher bg-opacity-90% padding-md js-modal"
           id="modal-edit-{{d['id']}}">
        <div aria-describedby="modal-form-description" aria-labelledby="modal-edit-{{d['id']}}-title"
             class="modal__content width-100% max-width-xs padding-md bg radius-md shadow-md" role="alertdialog">
          <div class="text-component margin-bottom-md">
            <h3 id="modal-edit-{{d['id']}}-title">Редактировать ЧаВо</h3>
          </div>

          <form action="/admin/faq/edit/{{d['id']}}" class="margin-bottom-sm" enctype="multipart/form-data"
                method="post">

            <div class="margin-bottom-md">
              <label class="form-label margin-bottom-xxxs" for="edit-{{d['id']}}-question">Вопрос</label>
              <div class="input-group">
                <input class="form-control flex-grow" id="edit-{{d['id']}}-question" name="question"
                       placeholder="Что мне делать" required type="text" value="{{d.get('question')}}">
                <div class="input-group__tag">?</div>
              </div>
            </div>


            <div class="margin-bottom-sm">
              <label class="form-label margin-bottom-xxxs" for="edit-{{d['id']}}-answer">Ответ</label>
              <input class="form-control width-100%" id="edit-{{d['id']}}-answer" name="answer"
                     placeholder="Отдыхать :)" required type="text" value="{{d.get('answer')}}">
            </div>

            <div class="flex flex-column flex-row@xs gap-xs">
              <button class="btn btn--primary btn--md width-100%" type="submit">Сохранить</button>
              <button class="btn btn--secondary btn--md width-100%" type="reset">Отменить изменения</button>
            </div>

          </form>
        </div>

        <button class="reset modal__close-btn modal__close-btn--outer  js-modal__close js-tab-focus">
          <svg class="icon icon--sm" viewBox="0 0 24 24">
            <title>Закрыть модальное окно</title>
            <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2">
              <line x1="3" x2="21" y1="3" y2="21"/>
              <line x1="21" x2="3" y1="3" y2="21"/>
            </g>
          </svg>
        </button>
      </div>

      <div class="modal modal--animate-scale flex flex-center bg-contrast-higher bg-opacity-90% padding-md js-modal"
           id="modal-del-{{d['id']}}">
        <div aria-describedby="modal-form-description" aria-labelledby="modal-edit-{{d['id']}}-title"
             class="modal__content width-100% max-width-xs padding-md bg radius-md shadow-md" role="alertdialog">
          <div class="text-component margin-bottom-md">
            <h3 id="modal-del-{{d['id']}}-title">Удалить ЧаВо</h3>
            <p>Вы уверены, что хотите удалить данный вопрос-ответ?</p>
          </div>


          <div class="flex flex-column flex-row@xs gap-xs">
            <a class="btn btn--primary btn--md width-100%" href="/admin/faq/del/{{d['id']}}">Удалить</a>
            <button class="btn btn--secondary btn--md width-100% js-modal__close" type="reset">Закрыть</button>
          </div>
        </div>

        <button class="reset modal__close-btn modal__close-btn--outer  js-modal__close js-tab-focus">
          <svg class="icon icon--sm" viewBox="0 0 24 24">
            <title>Закрыть модальное окно</title>
            <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2">
              <line x1="3" x2="21" y1="3" y2="21"/>
              <line x1="21" x2="3" y1="3" y2="21"/>
            </g>
          </svg>
        </button>
      </div>


    </tr>
    % end
    </tbody>
  </table>
</div>
% else:
<h3 class="text-component margin-bottom-sm text-center">Вы ещё не создали ни одной категории</h3>
% end

<button aria-controls="modal-new" class="btn btn--primary text-right">Создать ЧаВо</button>

<div class="modal modal--animate-scale flex flex-center bg-contrast-higher bg-opacity-90% padding-md js-modal"
     id="modal-new">
  <div aria-describedby="modal-form-description" aria-labelledby="modal-form-title"
       class="modal__content width-100% max-width-xs padding-md bg radius-md shadow-md" role="alertdialog">
    <div class="text-component margin-bottom-md">
      <h3 id="modal-form-title">Создать категорию в блоге</h3>
    </div>

    <form action="" class="margin-bottom-sm" enctype="multipart/form-data" method="post">

      <div class="margin-bottom-md">
        <label class="form-label margin-bottom-xxxs" for="question">Вопрос</label>
        <div class="input-group">
          <input class="form-control flex-grow" id="question" name="question"
                 placeholder="Что мне делать" required type="text">
          <div class="input-group__tag">?</div>
        </div>
      </div>


      <div class="margin-bottom-sm">
        <label class="form-label margin-bottom-xxxs" for="answer">Ответ</label>
        <input class="form-control width-100%" id="answer" name="answer"
               placeholder="Отдыхать :)" required type="text">
      </div>


      <div class="flex flex-column flex-row@xs gap-xs">
        <button class="btn btn--primary btn--md width-100%" type="submit">Сохранить</button>
        <button class="btn btn--secondary btn--md width-100%" type="reset">Сбросить форму</button>
      </div>

    </form>
  </div>

  <button class="reset modal__close-btn modal__close-btn--outer  js-modal__close js-tab-focus">
    <svg class="icon icon--sm" viewBox="0 0 24 24">
      <title>Закрыть модальное окно</title>
      <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2">
        <line x1="3" x2="21" y1="3" y2="21"/>
        <line x1="21" x2="3" y1="3" y2="21"/>
      </g>
    </svg>
  </button>
</div>
