<form action="" enctype="multipart/form-data" method="post">

    <div class="text-component text-center margin-bottom-sm">
        <h1>Редактирование ссылок на Социальные сети</h1>
    </div>


    <fieldset class="margin-bottom-md">
        <div class="grid gap-sm">

            <label for="whatsapp">Whatsapp</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fab fa-facebook-f"></i></span>
                </div>
                <input type="url" id="whatsapp" name="whatsapp" class="form-control" placeholder="https://wa.me/(номер)"
                    aria-label="Whatsapp" aria-describedby="basic-addon1" value="{{socials.get('whatsapp', '')}}">
            </div>

            <label for="viber">Viber</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fab fa-viber"></i></span>
                </div>
                <input type="url" id="viber" name="viber" class="form-control" placeholder="viber://add?number=(номер)"
                    aria-label="Viber" value="{{socials.get('viber', '')}}">
            </div>

            <label for="vk">VK</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fab fa-vk"></i></span>
                </div>
                <input type="url" id="vk" name="vk" class="form-control" placeholder="https://vk.com/" aria-label="VK"
                    value="{{socials.get('vk', '')}}">
            </div>

            <label for="instagram">Instagram</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fab fa-instagram"></i></span>
                </div>
                <input type="url" id="instagram" name="instagram" class="form-control"
                    placeholder="https://instagram.com/" aria-label="Instagram"
                    value="{{socials.get('instagram', '')}}">
            </div>

            <label for="telegram">Telegram</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fab fa-telegram"></i></span>
                </div>
                <input type="url" id="telegram" name="telegram" class="form-control" placeholder="https://telegram.com/"
                    aria-label="Telegram" value="{{socials.get('telegram', '')}}">
            </div>

            <label for="mail">Почта</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fab fa-mail"></i></span>
                </div>
                <input type="url" id="mail" name="mail" class="form-control" placeholder="mailto:имя@почта.ru"
                    aria-label="Mail" value="{{socials.get('mail', '')}}">
            </div>


        </div>

    </fieldset>

    <div class="flex flex-column flex-row@xs gap-xs">
        <button class="btn btn--primary btn--md width-100%" type="submit">Сохранить</button>
        <button class="btn btn--secondary btn--md width-100%" type="reset">Отменить изменения</button>
    </div>


</form>