<div class="modal modal--animate-scale flex flex-center bg-contrast-higher bg-opacity-90% padding-md js-modal"
     id="modal-{{id}}">
  <div aria-describedby="modal-form-description" aria-labelledby="modal-{{id}}-title"
       class="modal__content width-100% max-width-xs padding-md bg radius-md shadow-md" role="alertdialog">
    <div class="text-component margin-bottom-md">
      <h3 id="modal-{{id}}-title">{{title}}</h3>
    </div>

    {{!content}}
  </div>

  <button class="reset modal__close-btn modal__close-btn--outer  js-modal__close js-tab-focus">
    <svg class="icon icon--sm" viewBox="0 0 24 24">
      <title>Закрыть модальное окно</title>
      <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2">
        <line x1="3" x2="21" y1="3" y2="21"/>
        <line x1="21" x2="3" y1="3" y2="21"/>
      </g>
    </svg>
  </button>
</div>
