<section class="padding-x-lg">
    <ul class="grid-auto-xl gap-lg">
        <li>
            <div class="banner banner--invert container max-width-adaptive-lg radius-md overflow-hidden">
                <a href="#0" class="text-decoration-none" aria-label="Shop Now">
                  <div class="grid">
                    <div class="col-6@md overflow-hidden" aria-hidden="true">
                      <div class="banner__figure width-100%" style="background-image: url(img/grape.jpg);"></div>
                    </div>
              
                    <div class="col-6@md">
                      <div class="stories__text text-component v-space-md height-100% flex flex-column padding-md padding-lg@md text-right@md">
                        <h2>Kitchen</h2>
                        <p>
                            DescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescription
                        </p>
                        <p class="margin-top-sm margin-top-lg@md"><span class="banner__link"><i>Shop Now</i></span></p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
        </li>

        <li>
            <div class="banner banner--invert container max-width-adaptive-lg radius-md overflow-hidden">
                <a href="#0" class="text-decoration-none" aria-label="Shop Now">
                  <div class="grid">
                    <div class="col-6@md overflow-hidden" aria-hidden="true">
                      <div class="banner__figure width-100%" style="background-image: url(img/grape.jpg);"></div>
                    </div>
              
                    <div class="col-6@md">
                      <div class="text-component v-space-md height-100% flex flex-column padding-md padding-lg@md text-right@md">
                        <h2>Kitchen</h2>
                        <p class="margin-top-sm margin-top-lg@md"><span class="banner__link"><i>Shop Now</i></span></p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
        </li>
        <li>
            <div class="banner banner--invert container max-width-adaptive-lg radius-md overflow-hidden">
                <a href="#0" class="text-decoration-none" aria-label="Shop Now">
                  <div class="grid">
                    <div class="col-6@md overflow-hidden" aria-hidden="true">
                      <div class="banner__figure width-100%" style="background-image: url(img/grape.jpg);"></div>
                    </div>
              
                    <div class="col-6@md">
                      <div class="text-component v-space-md height-100% flex flex-column padding-md padding-lg@md text-right@md">
                        <h2>Kitchen</h2>
                        <p class="margin-top-sm margin-top-lg@md"><span class="banner__link"><i>Shop Now</i></span></p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
        </li>
        <li><div class="banner banner--invert container max-width-adaptive-lg radius-md overflow-hidden">
            <a href="#0" class="text-decoration-none" aria-label="Shop Now">
              <div class="grid">
                <div class="col-6@md overflow-hidden" aria-hidden="true">
                  <div class="banner__figure width-100%" style="background-image: url(img/grape.jpg);"></div>
                </div>
          
                <div class="col-6@md">
                  <div class="text-component v-space-md height-100% flex flex-column padding-md padding-lg@md text-right@md">
                    <h2>Kitchen</h2>
                    <p class="margin-top-sm margin-top-lg@md"><span class="banner__link"><i>Shop Now</i></span></p>
                  </div>
                </div>
              </div>
            </a>
          </div></li>
        <li><div class="banner banner--invert container max-width-adaptive-lg radius-md overflow-hidden">
            <a href="#0" class="text-decoration-none" aria-label="Shop Now">
              <div class="grid">
                <div class="col-6@md overflow-hidden" aria-hidden="true">
                  <div class="banner__figure width-100%" style="background-image: url(img/grape.jpg);"></div>
                </div>
          
                <div class="col-6@md">
                  <div class="text-component v-space-md height-100% flex flex-column padding-md padding-lg@md text-right@md">
                    <h2>Kitchen</h2>
                    <p class="margin-top-sm margin-top-lg@md"><span class="banner__link"><i>Shop Now</i></span></p>
                  </div>
                </div>
              </div>
            </a>
          </div></li>
        <li><div class="banner banner--invert container max-width-adaptive-lg radius-md overflow-hidden">
            <a href="#0" class="text-decoration-none" aria-label="Shop Now">
              <div class="grid">
                <div class="col-6@md overflow-hidden" aria-hidden="true">
                  <div class="banner__figure width-100%" style="background-image: url(img/grape.jpg);"></div>
                </div>
          
                <div class="col-6@md">
                  <div class="text-component v-space-md height-100% flex flex-column padding-md padding-lg@md text-right@md">
                    <h2>Kitchen</h2>
                    <p class="margin-top-sm margin-top-lg@md"><span class="banner__link"><i>Shop Now</i></span></p>
                  </div>
                </div>
              </div>
            </a>
          </div></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
</section>



<!--Q&A-->
<section class="container max-width-adaptive big-card flex flex-column flex-row@sm gap-md">
  <div class="col-5@sm col-12">
    <h3 class="text-bold margin-bottom-sm">Как выбрать психолога?</h3>
    <div class="padding-md radius-md margin-bottom-sm bg-contrast-lower">
      <div class="faq-step">Используйте фильтры подбора психолога</div>
      <div class="faq-step">Выберите удобное для вас время</div>
      <div class="faq-step">Зарегистрируйтесь и оплатите консультацию</div>
      <a class="faq-btn" href="/doctors">Подбор психолога</a>
    </div>
  </div>
  <div class="col-7@sm col-12">
    <div class="margin-bottom-lg">
      <h1 class="text-center">Questions &amp; Answers</h1>
    </div>
    <ul class="accordion  js-accordion" data-animation="on" data-multi-items="on">

      <li class="accordion__item  js-accordion__item">
        <button class="reset accordion__header padding-y-sm padding-x-md js-tab-focus" type="button">
          <span class="faq-header text-md">How can I download the invoice for my purchase?</span>

          <svg aria-hidden="true" class="icon accordion__icon-arrow-v2 no-js:is-hidden" viewBox="0 0 16 16">
            <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square" stroke-miterlimit="10">
              <path d="M2 2l12 12" />
              <path d="M14 2L2 14" />
            </g>
          </svg>
        </button>

        <div class="accordion__panel js-accordion__panel">
          <div class="text-component padding-top-xxxs padding-x-md padding-bottom-md faq-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia?
              Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente
              laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
          </div>
        </div>
      </li>


      <li class="accordion__item  js-accordion__item">
        <button class="reset accordion__header padding-y-sm padding-x-md js-tab-focus" type="button">
          <span class="faq-header text-md">How can I download the invoice for my
            purchase?</span>

          <svg aria-hidden="true" class="icon accordion__icon-arrow-v2 no-js:is-hidden" viewBox="0 0 16 16">
            <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square" stroke-miterlimit="10">
              <path d="M2 2l12 12" />
              <path d="M14 2L2 14" />
            </g>
          </svg>
        </button>

        <div class="accordion__panel js-accordion__panel">
          <div class="text-component padding-top-xxxs padding-x-md padding-bottom-md faq-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia?
              Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente
              laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
          </div>
        </div>
      </li>


      <li class="accordion__item  js-accordion__item">
        <button class="reset accordion__header padding-y-sm padding-x-md js-tab-focus" type="button">
          <span class="faq-header text-md">How can I download the invoice for my
            purchase?</span>

          <svg aria-hidden="true" class="icon accordion__icon-arrow-v2 no-js:is-hidden" viewBox="0 0 16 16">
            <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square" stroke-miterlimit="10">
              <path d="M2 2l12 12" />
              <path d="M14 2L2 14" />
            </g>
          </svg>
        </button>

        <div class="accordion__panel js-accordion__panel">
          <div class="text-component padding-top-xxxs padding-x-md padding-bottom-md faq-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia?
              Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente
              laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
          </div>
        </div>
      </li>

    </ul>
  </div>
</section>