{% extends 'layout/index.html' %}

{% block content %}
  <section class="container max-width-adaptive margin-y-md">
    <div class="flex flex-column-reverse flex-column">
      <h1>
        {{ post.title }}
      </h1>
      {% if post.category %}
        <span class="color-contrast-low" aria-label="Категория: {{ post.category.name }}">
          #{{ post.category.name }}
        </span>
      {% endif %}
    </div>

    {% if post.date %}
      <span class="color-contrast-low margin-bottom-xs"
          aria-label="Дата публикации: {{ post.date.strftime("%d.%m.%Y") }}">
        {{ post.date.strftime("%d.%m.%Y") }}
      </span>
    {% endif %}

    <figure class="container max-width-lg margin-bottom-lg">
      <img src="{{ post.image }}" alt="Изображение поста '{{ post.title }}'">
    </figure>

    <div class="container max-width-adaptive text-component">
      {{ post.content }}
    </div>
  </section>
{% endblock %}