<section class="padding-x-lg">
    <ul class="grid-auto-xl gap-lg">
        <li>
            <div class="banner banner--invert container max-width-adaptive-lg radius-md overflow-hidden">
                <a href="#0" class="text-decoration-none" aria-label="Shop Now">
                  <div class="grid">
                    <div class="col-6@md overflow-hidden" aria-hidden="true">
                      <div class="banner__figure width-100%" style="background-image: url(img/grape.jpg);"></div>
                    </div>
              
                    <div class="col-6@md">
                      <div class="stories__text text-component v-space-md height-100% flex flex-column padding-md padding-lg@md text-right@md">
                        <h2>Kitchen</h2>
                        <p>
                            DescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescription
                        </p>
                        <p class="margin-top-sm margin-top-lg@md"><span class="banner__link"><i>Shop Now</i></span></p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
        </li>

        <li>
            <div class="banner banner--invert container max-width-adaptive-lg radius-md overflow-hidden">
                <a href="#0" class="text-decoration-none" aria-label="Shop Now">
                  <div class="grid">
                    <div class="col-6@md overflow-hidden" aria-hidden="true">
                      <div class="banner__figure width-100%" style="background-image: url(img/grape.jpg);"></div>
                    </div>
              
                    <div class="col-6@md">
                      <div class="text-component v-space-md height-100% flex flex-column padding-md padding-lg@md text-right@md">
                        <h2>Kitchen</h2>
                        <p class="margin-top-sm margin-top-lg@md"><span class="banner__link"><i>Shop Now</i></span></p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
        </li>
        <li>
            <div class="banner banner--invert container max-width-adaptive-lg radius-md overflow-hidden">
                <a href="#0" class="text-decoration-none" aria-label="Shop Now">
                  <div class="grid">
                    <div class="col-6@md overflow-hidden" aria-hidden="true">
                      <div class="banner__figure width-100%" style="background-image: url(img/grape.jpg);"></div>
                    </div>
              
                    <div class="col-6@md">
                      <div class="text-component v-space-md height-100% flex flex-column padding-md padding-lg@md text-right@md">
                        <h2>Kitchen</h2>
                        <p class="margin-top-sm margin-top-lg@md"><span class="banner__link"><i>Shop Now</i></span></p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
        </li>
        <li><div class="banner banner--invert container max-width-adaptive-lg radius-md overflow-hidden">
            <a href="#0" class="text-decoration-none" aria-label="Shop Now">
              <div class="grid">
                <div class="col-6@md overflow-hidden" aria-hidden="true">
                  <div class="banner__figure width-100%" style="background-image: url(img/grape.jpg);"></div>
                </div>
          
                <div class="col-6@md">
                  <div class="text-component v-space-md height-100% flex flex-column padding-md padding-lg@md text-right@md">
                    <h2>Kitchen</h2>
                    <p class="margin-top-sm margin-top-lg@md"><span class="banner__link"><i>Shop Now</i></span></p>
                  </div>
                </div>
              </div>
            </a>
          </div></li>
        <li><div class="banner banner--invert container max-width-adaptive-lg radius-md overflow-hidden">
            <a href="#0" class="text-decoration-none" aria-label="Shop Now">
              <div class="grid">
                <div class="col-6@md overflow-hidden" aria-hidden="true">
                  <div class="banner__figure width-100%" style="background-image: url(img/grape.jpg);"></div>
                </div>
          
                <div class="col-6@md">
                  <div class="text-component v-space-md height-100% flex flex-column padding-md padding-lg@md text-right@md">
                    <h2>Kitchen</h2>
                    <p class="margin-top-sm margin-top-lg@md"><span class="banner__link"><i>Shop Now</i></span></p>
                  </div>
                </div>
              </div>
            </a>
          </div></li>
        <li><div class="banner banner--invert container max-width-adaptive-lg radius-md overflow-hidden">
            <a href="#0" class="text-decoration-none" aria-label="Shop Now">
              <div class="grid">
                <div class="col-6@md overflow-hidden" aria-hidden="true">
                  <div class="banner__figure width-100%" style="background-image: url(img/grape.jpg);"></div>
                </div>
          
                <div class="col-6@md">
                  <div class="text-component v-space-md height-100% flex flex-column padding-md padding-lg@md text-right@md">
                    <h2>Kitchen</h2>
                    <p class="margin-top-sm margin-top-lg@md"><span class="banner__link"><i>Shop Now</i></span></p>
                  </div>
                </div>
              </div>
            </a>
          </div></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
</section>