<!-- Bookform widget --><script>(function (w,d,s,o,f,js,fjs){w['BookformObject']=o;w[o]=w[o]||function(){(w[o].q=w[o].q||[]).push(arguments)};js=d.createElement(s),fjs=d.getElementsByTagName(s)[0];js.id=o;js.src=f;js.async=1;fjs.parentNode.insertBefore(js,fjs);}(window,document,'script','Bookform','https://widget.bookform.ru/36540/js'));</script><!-- End Bookform widget -->

<!--Q&A-->
% if get('faq'):
<section class="container max-width-adaptive big-card margin-y-lg margin-x-auto flex flex-column flex-row@sm gap-md">
  <div class="col-5@sm col-12">
    <h3 class="text-bold margin-bottom-sm">Как записаться на прием?</h3>
    <div class="padding-md radius-md margin-bottom-sm bg-contrast-lower">
      <div class="faq-step">Перейдите в раздел онлайн-записи или позвоните по телефону</div>
      <div class="faq-step">Выберите удобное для вас время</div>
      <div class="faq-step">Оплатите консультацию</div>
      <a class="faq-btn" href="/bookform">Записаться на прием</a>
    </div>
  </div>
  <div class="col-7@sm col-12">
    <div class="margin-bottom-lg">
      <h1 class="text-center">Частые вопросы</h1>
    </div>

    <ul class="accordion  js-accordion" data-animation="on" data-multi-items="on">

      <div class="dir-items">

        <div class="payment-block">
          <div class="payment-block-header">Первичная консультация</div>
          <div class="payment-block-price">500 ₽ / 20 минут</div>
        </div>
        <div class="payment-block">
          <div class="payment-block-header">Личная консультация</div>
          <div class="payment-block-price">2 400 ₽ / 60 минут</div>
        </div>
        <div class="payment-block">
          <div class="payment-block-header">Семейная консультация</div>
          <div class="payment-block-price">2 900 ₽ / 60 минут</div>
        </div>

      </div>

      % for f in faq:
      <li class="accordion__item  js-accordion__item">
        <button class="reset accordion__header padding-y-sm padding-x-md js-tab-focus" type="button">
          <span class="faq-header text-md">{{f['question']}}?</span>

          <svg aria-hidden="true" class="icon accordion__icon-arrow-v2 no-js:is-hidden" viewBox="0 0 16 16">
            <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square" stroke-miterlimit="10">
              <path d="M2 2l12 12" />
              <path d="M14 2L2 14" />
            </g>
          </svg>
        </button>

        <div class="accordion__panel js-accordion__panel">
          <div class="text-component padding-top-xxxs padding-x-md padding-bottom-md faq-text">
            <p>{{f['answer']}}</p>
          </div>
        </div>
      </li>
      % end
    </ul>
  </div>
</section>
% end

<div id="bookform-embedded-widget-36540"></div><script>Bookform('embedded',{id:36540});</script>