<section class="feature-v12 feature-v12--top feature-v12--left@md feature-v12--offset-sm feature-v12--offset-xl@md"
  style="background-color: lightblue;">
  <div class="container max-width-adaptive-lg padding-y-xl">
    <div class="grid flex-center">
      <div class="col-10 col-5@md">
        <div class="text-sm opacity-60% margin-bottom-xxs">#слушают и корректно спрашивают</div>

        <div class="text-component margin-bottom-sm">
          <h1>Опытные психологи
            онлайн</h1>
          <p>Видео и аудио чат с психологом
          </p>
        </div>

        <div class="flex flex-wrap items-center gap-sm">
          <a href="#0" class="btn btn--primary">Записаться</a>
        </div>
      </div>

      <div class="col-7@md">
        <div class="parallax-img js-parallax-img">
          <figure class="parallax-img__assets js-parallax-img__assets">
            <img src="img/png.png" alt="Image Description">
            <img src="img/png.png" style="transform: translateZ(150px);" aria-hidden="true">
            <img src="img/png.png" style="transform: translateZ(300px);" aria-hidden="true">
          </figure>
        </div>
      </div>
    </div>
  </div>


</section>






<div class="tabs-v2 js-tabs container max-width-adaptive-lg">
  <nav>
    <ul class="tabs-nav-v2 js-tabs__controls js-tabs-nav-v2" aria-label='Tabs Interface'>
      <li><a href="#tab2Panel1" class="tabs-nav-v2__item js-tab-focus" aria-selected="true">Личные вопросы</a></li>
      <li><a href="#tab2Panel2" class="tabs-nav-v2__item js-tab-focus">Супружеские отношения</a></li>
      <li><a href="#tab2Panel3" class="tabs-nav-v2__item js-tab-focus">Дети и родители</a></li>
    </ul>
  </nav>

  <div class="js-tabs__panels">
    <section id="tab2Panel1" class="padding-top-md js-tabs__panel">
      <section class="feature-v7">
        <div class="container max-width-adaptive-lg">
          <div class="grid gap-md">
            <div class="col-4@md">
              <div class="feature-v7__item flex gap-sm">
                <figure>
                  <img src="https://img.icons8.com/pastel-glyph/64/000000/trust.png" />
                </figure>

                <div class="text-component text-sm">
                  <p><strong>Кризис личности</strong><br>понять, происходит, перейти на следующий этап</p>
                </div>
              </div>
            </div>

            <div class="col-4@md">
              <div class="feature-v7__item flex gap-sm">
                <figure>
                  <img src="https://img.icons8.com/pastel-glyph/64/000000/trust.png" />
                </figure>

                <div class="text-component text-sm">
                  <p><strong>Кризис личности</strong><br>понять, происходит, перейти на следующий этап</p>
                </div>
              </div>
            </div>

            <div class="col-4@md">
              <div class="feature-v7__item flex gap-sm">
                <figure>
                  <img src="https://img.icons8.com/pastel-glyph/64/000000/trust.png" />
                </figure>

                <div class="text-component text-sm">
                  <p><strong>Кризис личности</strong><br>понять, происходит, перейти на следующий этап</p>
                </div>
              </div>
            </div>

            <div class="col-4@md">
              <div class="feature-v7__item flex gap-sm">
                <figure>
                  <img src="https://img.icons8.com/pastel-glyph/64/000000/trust.png" />
                </figure>

                <div class="text-component text-sm">
                  <p><strong>Кризис личности</strong><br>понять, происходит, перейти на следующий этап</p>
                </div>
              </div>
            </div>
          </div>
      </section>
    </section>

    <section id="tab2Panel2" class="padding-top-md js-tabs__panel">
      <section class="feature-v7">
        <div class="container max-width-adaptive-lg">
          <div class="grid gap-md">
            <div class="col-4@md">
              <div class="feature-v7__item flex gap-sm">
                <figure>
                  <img src="https://img.icons8.com/pastel-glyph/64/000000/trust.png" />
                </figure>

                <div class="text-component text-sm">
                  <p><strong>Кризис личности</strong><br>понять, происходит, перейти на следующий этап</p>
                </div>
              </div>
            </div>

            <div class="col-4@md">
              <div class="feature-v7__item flex gap-sm">
                <figure>
                  <img src="https://img.icons8.com/pastel-glyph/64/000000/trust.png" />
                </figure>

                <div class="text-component text-sm">
                  <p><strong>Кризис личности</strong><br>понять, происходит, перейти на следующий этап</p>
                </div>
              </div>
            </div>
          </div>
      </section>
    </section>

    <section id="tab2Panel3" class="padding-top-md js-tabs__panel">
      <section class="feature-v7">
        <div class="container max-width-adaptive-lg">
          <div class="grid gap-md">
            <div class="col-4@md">
              <div class="feature-v7__item flex gap-sm">
                <figure>
                  <img src="https://img.icons8.com/pastel-glyph/64/000000/trust.png" />
                </figure>

                <div class="text-component text-sm">
                  <p><strong>Кризис личности</strong><br>понять, происходит, перейти на следующий этап</p>
                </div>
              </div>
            </div>

            <div class="col-4@md">
              <div class="feature-v7__item flex gap-sm">
                <figure>
                  <img src="https://img.icons8.com/pastel-glyph/64/000000/trust.png" />
                </figure>

                <div class="text-component text-sm">
                  <p><strong>Кризис личности</strong><br>понять, происходит, перейти на следующий этап</p>
                </div>
              </div>
            </div>

            <div class="col-4@md">
              <div class="feature-v7__item flex gap-sm">
                <figure>
                  <img src="https://img.icons8.com/pastel-glyph/64/000000/trust.png" />
                </figure>

                <div class="text-component text-sm">
                  <p><strong>Кризис личности</strong><br>понять, происходит, перейти на следующий этап</p>
                </div>
              </div>
            </div>

            <div class="col-4@md">
              <div class="feature-v7__item flex gap-sm">
                <figure>
                  <img src="https://img.icons8.com/pastel-glyph/64/000000/trust.png" />
                </figure>

                <div class="text-component text-sm">
                  <p><strong>Кризис личности</strong><br>понять, происходит, перейти на следующий этап</p>
                </div>
              </div>
            </div>

            <div class="col-4@md">
              <div class="feature-v7__item flex gap-sm">
                <figure>
                  <img src="https://img.icons8.com/pastel-glyph/64/000000/trust.png" />
                </figure>

                <div class="text-component text-sm">
                  <p><strong>Кризис личности</strong><br>понять, происходит, перейти на следующий этап</p>
                </div>
              </div>
            </div>

            <div class="col-4@md">
              <div class="feature-v7__item flex gap-sm">
                <figure>
                  <img src="https://img.icons8.com/pastel-glyph/64/000000/trust.png" />
                </figure>

                <div class="text-component text-sm">
                  <p><strong>Кризис личности</strong><br>понять, происходит, перейти на следующий этап</p>
                </div>
              </div>
            </div>

            <div class="col-4@md">
              <div class="feature-v7__item flex gap-sm">
                <figure>
                  <img src="https://img.icons8.com/pastel-glyph/64/000000/trust.png" />
                </figure>

                <div class="text-component text-sm">
                  <p><strong>Кризис личности</strong><br>понять, происходит, перейти на следующий этап</p>
                </div>
              </div>
            </div>
          </div>
      </section>
    </section>


  </div>
</div>





<section>
  <div class="container max-width-sm">
    <div class="margin-bottom-lg">
      <h1 class="text-center">Questions &amp; Answers</h1>
    </div>

    <ul class="accordion  js-accordion" data-animation="on" data-multi-items="on">

      <li class="accordion__item  js-accordion__item">
        <button class="reset accordion__header padding-y-sm padding-x-md js-tab-focus" type="button">
          <span class="text-md" style="color: var(--color-black-light);">How can I download the invoice for my
            purchase?</span>

          <svg class="icon accordion__icon-arrow-v2 no-js:is-hidden" viewBox="0 0 16 16" aria-hidden="true">
            <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square" stroke-miterlimit="10">
              <path d="M2 2l12 12" />
              <path d="M14 2L2 14" />
            </g>
          </svg>
        </button>

        <div class="accordion__panel js-accordion__panel">
          <div class="text-component padding-top-xxxs padding-x-md padding-bottom-md">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia?
              Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente
              laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
          </div>
        </div>
      </li>

      <li class="accordion__item  js-accordion__item">
        <button class="reset accordion__header padding-y-sm padding-x-md js-tab-focus" type="button">
          <span class="text-md" style="color: var(--color-black-light);">How can I download the invoice for my
            purchase?</span>

          <svg class="icon accordion__icon-arrow-v2 no-js:is-hidden" viewBox="0 0 16 16" aria-hidden="true">
            <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square" stroke-miterlimit="10">
              <path d="M2 2l12 12" />
              <path d="M14 2L2 14" />
            </g>
          </svg>
        </button>

        <div class="accordion__panel js-accordion__panel">
          <div class="text-component padding-top-xxxs padding-x-md padding-bottom-md">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia?
              Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente
              laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
          </div>
        </div>
      </li>

      <li class="accordion__item  js-accordion__item">
        <button class="reset accordion__header padding-y-sm padding-x-md js-tab-focus" type="button">
          <span class="text-md" style="color: var(--color-black-light);">How can I download the invoice for my
            purchase?</span>

          <svg class="icon accordion__icon-arrow-v2 no-js:is-hidden" viewBox="0 0 16 16" aria-hidden="true">
            <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square" stroke-miterlimit="10">
              <path d="M2 2l12 12" />
              <path d="M14 2L2 14" />
            </g>
          </svg>
        </button>

        <div class="accordion__panel js-accordion__panel">
          <div class="text-component padding-top-xxxs padding-x-md padding-bottom-md">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia?
              Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente
              laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
          </div>
        </div>
      </li>

      <!-- <li class="accordion__item  js-accordion__item">
        <button class="reset accordion__header padding-y-sm padding-x-md js-tab-focus" type="button">
          <span class="text-md">How many devices can I use?</span>

          <svg class="icon accordion__icon-arrow-v2 no-js:is-hidden" viewBox="0 0 16 16" aria-hidden="true">
            <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square" stroke-miterlimit="10">
              <path d="M2 2l12 12" />
              <path d="M14 2L2 14" />
            </g>
          </svg>
        </button>

        <div class="accordion__panel js-accordion__panel">
          <div class="text-component padding-top-xxxs padding-x-md padding-bottom-md">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
          </div>
        </div>
      </li>

      <li class="accordion__item  js-accordion__item">
        <button class="reset accordion__header padding-y-sm padding-x-md js-tab-focus" type="button">
          <span class="text-md">What is the license of your resources?</span>

          <svg class="icon accordion__icon-arrow-v2 no-js:is-hidden" viewBox="0 0 16 16" aria-hidden="true">
            <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square" stroke-miterlimit="10">
              <path d="M2 2l12 12" />
              <path d="M14 2L2 14" />
            </g>
          </svg>
        </button>

        <div class="accordion__panel js-accordion__panel">
          <div class="text-component padding-top-xxxs padding-x-md padding-bottom-md">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
          </div>
        </div>
      </li>

      <li class="accordion__item  js-accordion__item">
        <button class="reset accordion__header padding-y-sm padding-x-md js-tab-focus" type="button">
          <span class="text-md">Can I suggest new app features?</span>

          <svg class="icon accordion__icon-arrow-v2 no-js:is-hidden" viewBox="0 0 16 16" aria-hidden="true">
            <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="square" stroke-miterlimit="10">
              <path d="M2 2l12 12" />
              <path d="M14 2L2 14" />
            </g>
          </svg>
        </button>

        <div class="accordion__panel js-accordion__panel">
          <div class="text-component padding-top-xxxs padding-x-md padding-bottom-md">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a ab quae quas optio ut officia quia? Modi at impedit dolorem est voluptatem facilis, beatae atque tenetur, soluta dolorum inventore sapiente laborum. Alias esse soluta porro distinctio aperiam, qui suscipit.</p>
          </div>
        </div>
      </li> -->

    </ul>
  </div>
</section>


<section>
  <div class="stories container max-width-adaptive-xl" style="background-color: white;">
    <!-- <h2 class="stories__legend">Статьи</h2> -->
    <h3 class="stories__legend">
      Статьи
    </h3>
    <ol class="stories__list">
      <li class="stories__story">
        <a href="#0" class="stories__img-wrapper">
          <figure>
            <img src="img/grape.jpg" alt="Image description">
          </figure>
        </a>

        <div class="stories__text text-component line-height-md v-space-sm">
          <h4 class="stories__headline"><a href="#0">Токсичные родители. Типы, признаки, как общаться.</a></h4>
          <p>
            Пожалуй, проблема взаимоотношений детей и родителей стара как мир. Часто, записываясь на консультацию к
            психологу, чтобы решить какой-то актуальный для себя вопрос, например: неуверенность в себе, которая мешает
            достигать успеха и продвигаться по карьерной лестнице трудности во взаимоотношениях с партнером комплексы
            подавленный гнев и агрессия неумение выстраивать отношения конфликты в коллективе или с руководством
            повышенная
          </p>
          <p class="stories__metadata"><time datetime="2020-05-10">10.05.2020</time> <span class="stories__separator"
              role="separator"></span> <a href="#0">Дети и родители</a></p>
        </div>
      </li>


      <li class="stories__story">
        <a href="#0" class="stories__img-wrapper">
          <figure>
            <img src="img/grape.jpg" alt="Image description">
          </figure>
        </a>

        <div class="stories__text text-component line-height-md v-space-sm">
          <h4 class="stories__headline"><a href="#0">Токсичные родители. Типы, признаки, как общаться.</a></h4>
          <p>
            Пожалуй, проблема взаимоотношений детей и родителей стара как мир. Часто, записываясь на консультацию к
            психологу, чтобы решить какой-то актуальный для себя вопрос, например: неуверенность в себе, которая мешает
            достигать успеха и продвигаться по карьерной лестнице трудности во взаимоотношениях с партнером комплексы
            подавленный гнев и агрессия неумение выстраивать отношения конфликты в коллективе или с руководством
            повышенная
          </p>
          <p class="stories__metadata"><time datetime="2020-05-10">10.05.2020</time> <span class="stories__separator"
              role="separator"></span> <a href="#0">Дети и родители</a></p>
        </div>
      </li>


      <li class="stories__story">
        <a href="#0" class="stories__img-wrapper">
          <figure>
            <img src="img/grape.jpg" alt="Image description">
          </figure>
        </a>

        <div class="stories__text text-component line-height-md v-space-sm">
          <h4 class="stories__headline"><a href="#0">Токсичные родители. Типы, признаки, как общаться.</a></h4>
          <p>
            Пожалуй, проблема взаимоотношений детей и родителей стара как мир. Часто, записываясь на консультацию к
            психологу, чтобы решить какой-то актуальный для себя вопрос, например: неуверенность в себе, которая мешает
            достигать успеха и продвигаться по карьерной лестнице трудности во взаимоотношениях с партнером комплексы
            подавленный гнев и агрессия неумение выстраивать отношения конфликты в коллективе или с руководством
            повышенная
          </p>
          <p class="stories__metadata"><time datetime="2020-05-10">10.05.2020</time> <span class="stories__separator"
              role="separator"></span> <a href="#0">Дети и родители</a></p>
        </div>
      </li>


      <li class="stories__story">
        <a href="#0" class="stories__img-wrapper">
          <figure>
            <img src="img/grape.jpg" alt="Image description">
          </figure>
        </a>

        <div class="stories__text text-component line-height-md v-space-sm">
          <h4 class="stories__headline"><a href="#0">Токсичные родители. Типы, признаки, как общаться.</a></h4>
          <p>
            Пожалуй, проблема взаимоотношений детей и родителей стара как мир. Часто, записываясь на консультацию к
            психологу, чтобы решить какой-то актуальный для себя вопрос, например: неуверенность в себе, которая мешает
            достигать успеха и продвигаться по карьерной лестнице трудности во взаимоотношениях с партнером комплексы
            подавленный гнев и агрессия неумение выстраивать отношения конфликты в коллективе или с руководством
            повышенная
          </p>
          <p class="stories__metadata"><time datetime="2020-05-10">10.05.2020</time> <span class="stories__separator"
              role="separator"></span> <a href="#0">Дети и родители</a></p>
        </div>
      </li>


    </ol>
  </div>
</section>