<section class="hero padding-y-xxl" style="background-image: url(img/coconut.jpg);">
  <div class="container max-width-adaptive-lg">

    <div class="max-width-xs">
      <div class="text-sm opacity-60% margin-bottom-xxs">This is a Label</div>

      <div class="text-component margin-bottom-sm">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam vero aliquam, natus quae architecto hic quod!</p>
      </div>

      <div class="flex flex-wrap items-center gap-sm">
        <a href="#0" class="btn btn--primary">Download</a>
        <a href="#0" class="color-inherit">Learn more</a>
      </div>
    </div>
  </div>

  <div class="banner container max-width-adaptive-lg overflow-hidden margin-y-xl@lg margin-y-lg radius-lg bg-white">
    <a href="#0" class="text-decoration-none" aria-label="Shop Now">
      <div class="grid flex-row-reverse@md">
        <div class="col-6@md overflow-hidden" aria-hidden="true">
          <div class="banner__figure height-100%" style="background-image: url(img/grape.jpg);"></div>
        </div>

        <div class="col-6@md">
          <div class="text-component v-space-md height-100% flex flex-column padding-md padding-lg@md">
            <h2>Kitchen</h2>
            <p class="margin-top-sm margin-top-lg@md"><span class="banner__link"><i>Shop Now</i></span></p>
          </div>
        </div>
      </div>
    </a>
  </div>
</section>